<a [routerLink]="['/storeings']">Back</a>
<br />
<h1 class="page-header">เพิ่มรายการใหม่</h1>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <h3>รายการ</h3>
    <input class="form-control input-lg" type="text" [(ngModel)]="name" name="name" required autofocus>
  </div>
  <div class="form-group">
    <h3>ราคา/หน่วย</h3>
    <input class="form-control input-lg" type="number" [(ngModel)]="priceonce" name="priceonce" required>
  </div>
  <div class="form-group">
    <h3>จำนวน</h3>
    <input class="form-control input-lg" type="number" [(ngModel)]="numnow" name="numnow" required>
  </div>
  <div class="form-group">
    <h3>รับมาจาก</h3>
    <input class="form-control input-lg" type="text" [(ngModel)]="by" name="by" required>
  </div>
  <hr>
  <a [routerLink]="['/storeings']" type="button" class="btn btn-danger btn-lg">ยกเลิก</a>
  <input type="submit" value="ยืนยัน" class="btn btn-success btn-lg">
</form>
